<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="assets/logonav.png" alt="" width="120" height="60">
      </a>
    </div>
  
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/items">All Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Low Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/items/add">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manufacturers/add">Add Manufacturer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" (click)="submitLogout()">Logout</a>
            </li>
        </ul>
    </div>
  </nav>
