body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
}

.container{
  width: 800px;
  height: 250px;
  position: relative;
  margin: 30px auto;
}

.container img{
  width: 600px;
  height: 250px;
}

.text{
  color: black;
  font-size: 35px;
  position: absolute;
  top: 55%;
  left: 37%;
  transform: translate(-50%, -50%);
}

table {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 30px;
  }

