<app-navbar2></app-navbar2>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="assets/logonav.png" alt="" width="120" height="60">
      </a>
    </div>
  
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link">All Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/additem">Add New Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Low Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" (click)="submitLogout()">Logout</a>
            </li>
        </ul>
    </div>
  </nav>

<div class="header">
    <h1>Welcome!</h1>
</div>

<p>Inventory at a glance</p>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Min Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Example Name 1</td>
        <td>10</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Example Name 2</td>
        <td>20</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Example Name 3</td>
        <td>30</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
