table {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 40%;
  margin-top: 130px;
  
}

p {
  text-align: center;
  font-size: 30px;
}

h2 {
  position: absolute;
  display: block;
  width: 50%;
  margin-top: -11%;
  margin-left: 21%;
  max-width: 610px;
  font-size: 2.5vw;
  padding: .6em 1em .6em 1.7em;
  font-weight: normal;
}





