<app-navbar2></app-navbar2>
<div style="text-align: center;" class="container">
  <img src="assets/dashboard.png" alt="">
  <div class="text">
    Welcome, {{username}}!
  </div>
</div>
<p>Low Stock</p>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Minimum Amount</th>
        <th scope="col">Order Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.numberInInventory}}</td>
      <td>{{item.numberMinimumToKeepOnHand}}</td>
      <td>{{this.itemService.formatPhoneNumber(item.manufacturerPhoneNumber)}}</td>
      </tr>
    </tbody>
  </table>
