<app-navbar2></app-navbar2>
<div class="container">
  <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Minimum Amount</th>
      </tr>
      <tr *ngFor="let item of items">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          {{item.category}}
        </td>
        <td>
          {{item.numberInInventory}}
        </td>
        <td>
          {{item.numberMinimumToKeepOnHand}}
        </td>
      </tr>
    </table>
  </div>


  





