<app-navbar2></app-navbar2>
<div class="container">
    <button type="button" class="btn btn-primary">Add New Item</button>
    <button class="btn btn-warning">Edit</button>
    <button class="btn btn-danger">Delete</button>
    <app-searchForm></app-searchForm>
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Minimum Amount</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of items">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          {{item.category}}
        </td>
        <td>
          {{item.numberInInventory}}
        </td>
        <td>
          {{item.numberMinimumToKeepOnHand}}
        </td>
        <td><button class="btn btn-warning">Edit</button>
        <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>


  





