<app-navbar2></app-navbar2>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Update Item</h3>
                        <div class="container">
                            <form (ngSubmit)="onSubmit()">
                              <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" id="name" [(ngModel)]="item.name" name="name"/>
                              </div>
                              <div class="form-group">
                                <label>Description:</label>
                                <input type="text" class="form-control" id="description" [(ngModel)]="item.description" name="description"/>
                              </div>
                              <div class="form-group">
                                <label>Category:</label>
                                <input type="text" class="form-control" id="category" [(ngModel)]="item.category" name="category"/>
                              </div>
                              <div class="form-group">
                                <label>Quantity:</label>
                                <input type="text" class="form-control" id="numberInInventory" [(ngModel)]="item.numberInInventory" name="numberInInventory"/>
                              </div>
                              <div class="form-group">
                                <label>Minimum Amount:</label>
                                <input type="text" class="form-control" id="numberMinimumToKeepOnHand" [(ngModel)]="item.numberMinimumToKeepOnHand" name="numberMinimumToKeepOnHand"/>
                              </div>
                            <div>
                            <button style='margin-right:16px' (click)="updateItem(item.id, item)" class="btn btn-success">Update</button>
                            <button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Items</button>
                          </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>

