<app-navbar2></app-navbar2>

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Update Item</h3>
                        <div class="container">
                            <form (ngSubmit)="onSubmit()" novalidate>
                              <div *ngIf="validMessage != ''">
                                <h3 class="has-info">{{validMessage}}</h3>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder= "Name" [(ngModel)]="item.name" required autofocus/>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="description" placeholder= "Description" [(ngModel)]="item.description" required/>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="category" placeholder= "Category" [(ngModel)]="item.category" required/>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="numberInInventory" placeholder= "Quantity" [(ngModel)]="item.numberInInventory" required/>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="numberMinimumToKeepOnHand" placeholder= "Minimum Amount" [(ngModel)]="item.numberMinimumToKeepOnHand" required/>
                              </div>
                            <div>
                            <button style='margin-right:16px' class="btn btn-success">Submit</button>
                            <button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Items</button>
                          </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>

