<nav class="navbar navbar-expand-md">
    <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Register</a>
            </li>
        </ul>
    </div>
</nav>
 <article id="inventory-tracker">
       <figure class="size-4">
          <img src="assets/logohome.png">
       </figure>
       <header>Designed to make small business owners' lives simpler, faster, and better.</header>
       <div class="form-button mt-3">
           <a href="/registration"><button id="submit" type="submit" class="btn btn-primary">Find Out More</button></a>

         <div class="form-button mt-3">
           <button type="submit" class="btn btn-secondary btn-sm" (click)="demoLogin()">Client Demo</button>
         </div>
       </div>

 </article>

