<app-navbar2></app-navbar2>

<p>Search Results</p>

<app-searchForm></app-searchForm>

<table class="table table-bordered table-inverse">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Minimum Amount</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>
      {{item.name}}
    </td>
    <td>
      {{item.description}}
    </td>
    <td>
      {{item.category}}
    </td>
    <td>
      {{item.numberInInventory}}
    </td>
    <td>
      {{item.numberMinimumToKeepOnHand}}
    </td>
  </tr>
</table>

<ng-template #empty>
  <p>No results found for that search term. Please try again.</p>
</ng-template>

