<app-navbar2></app-navbar2>
<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
  <!-- <app-searchForm ></app-searchForm> -->
  <div>
    <table class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let manufacturer of manufacturers">
          <td>{{manufacturer.name}}</td>
          <td>{{manufacturer.address}}</td>
          <td>{{manufacturer.phoneNumber}}</td>
          <td>
            <button style='margin-right:16px' (click)="updateManufacturer(manufacturer.id)" class="btn btn-success" style="margin-left: 10px">Edit</button>
            <button style='margin-right:16px' (click)="deleteManufacturer(manufacturer.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
    </table>
  </div>

