<app-navbar2></app-navbar2>
<p class="title">All Manufacturers</p>
<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
  <app-searchForm ></app-searchForm>
  <div>
    <table class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <h1>All Manufacturers</h1>
        <button class="btn btn-primary btn-sm" (click)="addManu()">Add New Manufacturer</button><br><br>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manufacturer of manufacturers">
          <td>{{manufacturer.name}}</td>
          <td>{{manufacturer.address}}</td>
          <td>{{this.itemService.formatPhoneNumber(manufacturer.phoneNumber)}}</td>
          <td>
            <button style='margin-right:16px' (click)="updateManufacturer(manufacturer.id)" class="btn btn-success" style="margin-left: 10px">Edit</button>
            <button style='margin-right:16px' (click)="openDelete(contentDelete, manufacturer)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
    </table>
  </div>

  <ng-template #contentDelete let-modal>
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>						
          <h4 class="modal-title w-100">Are you sure?</h4>	
        </div>
        <div class="modal-body">
          <p>Do you really want to delete these records? This process cannot be undone.</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>     
  </ng-template>

